body {
	font-family: Verdana;
	font-size: 10pt;
}
.title {
	margin: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#thanks {
	margin: 60px auto;
}
.thanks {
	border: 3px solid #9999FF;
	background-color: #CCCCFF;
	font-size: 12pt;
	padding: 10px;
	margin-top: 50px;
}
.description {
	border: 3px solid #9999FF;
	background-color: #CCCCFF;
	padding: 5px;
	font-size: 9pt;
	margin-bottom: 50px;
}
.questions {
	position:relative;
	margin: 0 auto;
	width: 780px;
}
.centered {
	text-align:center;
}
input,select {
	border: 1px solid #9999FF;
	background-color: #CCCCFF;
	padding: 2px;
	font-size: 9pt;
	margin: 0 auto;
}
.error {
	border: 1px solid #FF0000;
	background-color: #FF9999;
	padding: 2px;
	font-size: 9pt;
	margin: 0 auto;
}
li {
	margin: 10px 0;
}
.hidden {
	display: none;
}
.no_numbers li {
	list-style-type:none;
}
li ol li {
	margin:0px;
}
*.slider_left_label {
	width: 150px;
	text-align: right;
	font-size:80%;
	vertical-align: center;
}
*.slider_right_label {
	width: 150px;
	text-align:left;
	font-size:80%;
	vertical-align: center;
}
*.carpe_horizontal_slider_display_combo {
	clear: left;
	margin: 0;
}
*.carpe_horizontal_slider_track {
	color: #333;
	width: 320px;
	margin: 0;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	padding: 4px;
}
*.carpe_horizontal_slider_track *.carpe_slider_slit {
	background-color: #9999FF;
	color: #ccc;
	width: 310px;
	height: 2px;
	margin: 4px 4px 2px 4px;
	line-height: 0px;
	position: absolute;
	z-index: 1;
	border: 1px solid;
	border-color: #CCCCFF #6666CC #6666CC #CCCCFF;
}
*.carpe_horizontal_slider_track *.carpe_slider {
	width: 16px;
	background-color: #9999FF;
	color: #333;
	position: relative;
	margin: 0;
	height: 8px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	border: 2px solid;
	border-color: #6666CC;
}